{% extends 'base.html' %}
{% block title %}
ABOUT
{% endblock title %}
{% block body %}
 <style>
#t
{background-image: url( "https://source.unsplash.com/1600x600/?icecream")
}
h5#t {
    padding-top: 100px;
    padding-bottom: 500px;
}
h5#t {
    font-family: auto;
    color: burlywood;
}
h5#t {
    font-weight: 1000px;
    color: #f8f9fa;
    font-size: 31px;
}
h5#t {
    padding-top: 100px;
    padding-bottom: 160px;
}
</style>
 <h5 class="text-center" id="t"> We are very well renowned ice cream parlour of jaipur known as the <br> LAKSHYA'S ice cream parlour .
<br>
 We were established in year 2020.<br>  We invest a lot in Quality of ice-creams and to serve our customers to our best 
we leave no stones unturned.<br> We are the first to come up with new technology machines to serve our customers with different scoops,shakes within <b> 1minute </b> susing artificial intelligence. </li>
<br> We hold guinees world  record of operating parlour completely without and manforce  i.e. robots are equipped to serve .</li>
 </h5>
{% endblock body %}
